/* Essential styles that aren't fully handled by Material-UI CssBaseline */
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

/* The rest of the styles are handled by Material-UI's ThemeProvider and CssBaseline */
